### Predicting Old Car Prices Using Supervised Machine Learning

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
dataset = pd.read_csv(r"C:\Users\ayub\Desktop\Data Science\Data Science\DataScience Project\Project 3 Car Prediction\car_data.csv")

In [6]:
dataset.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Selling_Price
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0,3.35
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0,4.75
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0,7.25
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0,2.85
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0,4.60

In [7]:
dataset.isnull().sum()

Car_Name         0
Year             0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
Selling_Price    0
dtype: int64

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Present_Price  301 non-null    float64
 3   Kms_Driven     301 non-null    int64
 4   Fuel_Type      301 non-null    object
 5   Seller_Type    301 non-null    object
 6   Transmission   301 non-null    object
 7   Owner          301 non-null    int64
 8   Selling_Price  301 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [9]:
# label coding car_Name

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
cn = LabelEncoder()
dataset["Car_Name"]=cn.fit_transform(dataset["Car_Name"])

In [12]:
# label coding Fuel_Type

In [13]:
ft = LabelEncoder()
dataset["Fuel_Type"]=ft.fit_transform(dataset["Fuel_Type"])

In [14]:
# label coding Seller_Type

In [15]:
st = LabelEncoder()
dataset["Seller_Type"]=st.fit_transform(dataset["Seller_Type"])

In [16]:
# label coding Transmission

In [17]:
tm = LabelEncoder()
dataset["Transmission"]=tm.fit_transform(dataset["Transmission"])

In [18]:
# sepeart input and output

In [19]:
input_data = dataset.iloc[:,:-1]
output_data = dataset["Selling_Price"]

In [20]:
# scale the data

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
ss = StandardScaler()
input_data=pd.DataFrame(ss.fit_transform(input_data),columns=input_data.columns)

In [23]:
# testing data

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data,test_size=0.2, random_state=42)

In [26]:
# try all model for best result

In [27]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [28]:
# first test linLinearRegression

In [29]:
lr = LinearRegression()
lr.fit(x_train, y_train)
lr.score(x_train,y_train)*100, lr.score(x_test,y_test)*100

(88.40630578239453, 84.65539666857804)

In [30]:
mean_squared_error(y_test,lr.predict(x_test)), mean_absolute_error(y_test,lr.predict(x_test))

(3.5347190697129807, 1.2142339415047017)

In [31]:
lr1 = Lasso()
lr1.fit(x_train, y_train)
lr1.score(x_train,y_train)*100, lr.score(x_test,y_test)*100

(78.03772098983043, 84.65539666857804)

In [32]:
mean_squared_error(y_test,lr1.predict(x_test)), mean_absolute_error(y_test,lr1.predict(x_test))

(7.4534854278464895, 1.9596915026356563)

In [33]:
lr2 = Ridge()
lr2.fit(x_train, y_train)
lr2.score(x_train,y_train)*100, lr.score(x_test,y_test)*100

(88.4049355671408, 84.65539666857804)

In [34]:
mean_squared_error(y_test,lr2.predict(x_test)), mean_absolute_error(y_test,lr2.predict(x_test))

(3.5448518409920426, 1.2157695616481394)

In [35]:
lr3 = ElasticNet()
lr3.fit(x_train, y_train)
lr3.score(x_train,y_train)*100, lr.score(x_test,y_test)*100

(76.32392648480644, 84.65539666857804)

In [36]:
mean_squared_error(y_test,lr3.predict(x_test)), mean_absolute_error(y_test,lr3.predict(x_test))

(6.9295465105781595, 1.7150489363905772)

In [37]:
# now Test DecisionTree

In [38]:
dt = DecisionTreeRegressor()
dt.fit(x_train,y_train)
dt.score(x_train,y_train)*100, dt.score(x_test,y_test)*100

(100.0, 94.5882516340994)

In [39]:
mean_squared_error(y_test,dt.predict(x_test)), mean_absolute_error(y_test,dt.predict(x_test))

(1.246627868852459, 0.6962295081967212)

In [40]:
# now Test SVR

In [41]:
sv = SVR()
sv.fit(x_train,y_train)
sv.score(x_train,y_train)*100, sv.score(x_test,y_test)*100

(66.00840380338376, 78.48466914602926)

In [42]:
mean_squared_error(y_test,sv.predict(x_test)), mean_absolute_error(y_test,sv.predict(x_test))

(4.956182223686515, 0.9945642205689338)

In [43]:
# now test KNeighborsRegressor

In [44]:
kn = KNeighborsRegressor()
kn.fit(x_train,y_train)
kn.score(x_train,y_train)*100, kn.score(x_test,y_test)*100

(91.06681012800678, 93.29996797075346)

In [45]:
mean_squared_error(y_test,kn.predict(x_test)), mean_absolute_error(y_test,kn.predict(x_test))

(1.5433915409836068, 0.6835737704918031)

In [46]:
# now test RandomForestRegressor

In [47]:
rf  = RandomForestRegressor()
rf.fit(x_train, y_train)
rf.score(x_train,y_train)*100, rf.score(x_test,y_test)*100

(98.5461365324627, 96.27810494288016)

In [48]:
mean_squared_error(y_test,rf.predict(x_test)), mean_absolute_error(y_test,rf.predict(x_test))

(0.8573602816393449, 0.5874196721311478)

In [49]:
# so we select RandomForestRegressor model good result
# now predict the value

In [50]:
x_test

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
177,-1.275759,0.821718,-0.817924,-0.333500,0.500183,1.356327,-2.554408,-0.174501
289,0.251795,0.821718,0.691970,-0.668875,0.500183,-0.737285,0.391480,-0.174501
228,1.230996,-0.563924,0.205282,0.593804,-1.852241,-0.737285,0.391480,-0.174501
198,-2.059120,-0.910335,-0.817924,-0.050157,0.500183,1.356327,0.391480,3.865859
60,0.330131,-0.217514,1.272521,0.078661,0.500183,-0.737285,0.391480,-0.174501
...,...,...,...,...,...,...,...,...
234,0.760979,0.475308,-0.223468,-0.835995,0.500183,-0.737285,0.391480,-0.174501
296,0.251795,0.821718,0.460214,-0.076225,-1.852241,-0.737285,0.391480,-0.174501
281,0.251795,-2.642389,-0.003299,0.347965,0.500183,-0.737285,0.391480,-0.174501
285,0.956819,0.821718,0.100991,-0.563806,0.500183,-0.737285,-2.554408,-0.174501
182,-1.158255,-0.217514,-0.816765,-0.178949,0.500183,1.356327,0.391480,-0.174501

In [51]:
# take first row value of x_test and put in predict

In [52]:
rf.predict([[-1.275759,0.821718,-0.817924,-0.333500,0.500183,1.356327,-2.554408,-0.174501]])

C:\Users\ayub\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([0.431])

In [53]:
y_test

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
       ...
234     5.50
296     9.50
281     2.10
285     7.40
182     0.30
Name: Selling_Price, Length: 61, dtype: float64

In [54]:
# now if we take data from user it will be in the form of ordinal not numerical for this we firt store data in dataframe and then test the model

In [55]:
new_data = pd.DataFrame([['sx4',2014,5.59,27000,"Petrol","Dealer","Manual",0]],columns=x_train.columns)
new_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,sx4,2014,5.59,27000,Petrol,Dealer,Manual,0

In [56]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       1 non-null      object
 1   Year           1 non-null      int64
 2   Present_Price  1 non-null      float64
 3   Kms_Driven     1 non-null      int64
 4   Fuel_Type      1 non-null      object
 5   Seller_Type    1 non-null      object
 6   Transmission   1 non-null      object
 7   Owner          1 non-null      int64
dtypes: float64(1), int64(3), object(4)
memory usage: 196.0+ bytes

In [57]:
new_data['Car_Name']=cn.transform(new_data["Car_Name"])

In [58]:
new_data['Fuel_Type']=ft.transform(new_data["Fuel_Type"])

In [59]:
new_data['Seller_Type']=st.transform(new_data["Seller_Type"])

In [60]:
new_data['Transmission']=tm.transform(new_data["Transmission"])

In [61]:
new_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,93,2014,5.59,27000,2,0,1,0

In [62]:
# now scealing the data

In [63]:
new_data= pd.DataFrame(ss.transform(new_data),columns=new_data.columns)

In [64]:
new_data

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,1.191828,0.128897,-0.236215,-0.256224,0.500183,-0.737285,0.39148,-0.174501

In [65]:
rf.predict(new_data)

array([3.734])